<h2>Products Listing For User</h2>

<app-product-details [products]="electronicsProducts">
    <h3 class="header">Best Electronics Products</h3>
    <button class="footer">View All</button>
</app-product-details>
<br><br>
<app-product-details [products]="beutyProducts">
    <h3 class="header">Beauty Products</h3>
    <button class="footer">View All</button>
</app-product-details>
<br><br>
<app-product-details [products]="topProducts">
    <h3 class="header">Top Rated Products</h3>
    <button class="footer">View All</button>
</app-product-details>