<h2>Register here</h2>
<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="col-4">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ngModel />
    </div>
    <div class="col-4">
        <label>Age</label>
        <input type="number" class="form-control" name="age" ngModel
         #age="ngModel" required min="1" max="150"/>
        <span [style.color]="'red'"
        *ngIf="age.touched && age.invalid">invalid age</span>
    </div>
    <div ngModelGroup="address" class="mx-4">
        <div class="col-4">
            <label>Taluka</label>
            <input type="text" class="form-control" name="taluka" ngModel />
        </div>
        <div class="col-4">
            <label>City</label>
            <input type="text" class="form-control" name="city" ngModel />
        </div>
        <div class="col-4">
            <label>State</label>
            <input type="text" class="form-control" name="state" ngModel />
        </div>
    </div>
    <div class="mt-3">
        <input type="submit" class="btn btn-primary mx-3" value="Register" />
        <input type="button" class="btn btn-warning" value="Clear Form" (click)="clearForm(registerForm)"/>
    </div>
</form>

<p>{{registerForm.value | json}}</p>