<div class="container">
  <h1>App Component Content</h1>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Forms Demo</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Template Driven Form</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" routerLink="login">Login</a>
              <a class="dropdown-item" routerLink="register">Register</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Reactive Forms</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" routerLink="signin">Sign In</a>
              <a class="dropdown-item" routerLink="signup">Sign Up</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>