<h2>Send Email</h2>
<form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)">
    <div class="col">
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" ngModel placeholder="Enter Email">
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="" class="form-label">Email Subject</label>
            <input type="text" name="subject" class="form-control" ngModel placeholder="Enter Email Subject">
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label for="" class="form-label">Email Body</label>
            <!-- <input type="text" name="body" class="form-control" ngModel placeholder="Enter Email Body"> -->
            <textarea name="body" cols="70" rows="10" ngModel class="form-control"></textarea>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" [value]="submitButton" [disabled]="inProgress" />
        </div>
    </div>
</form>

<div class="alert alert-primary" role="alert" *ngIf="emailForm.submitted && message != undefined">
    Status: <strong>{{message}}</strong>
</div>