<h3>All Posts On Amazon <span class="badge bg-warning">{{posts.length}}</span></h3>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">user id</th>
                <th scope="col">post id</th>
                <th scope="col">title</th>
                <th scope="col">body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts" class="bg-light">
                <td scope=" row">{{post.userId}}</td>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        </tbody>
    </table>
</div>