<h2>All Products</h2>

<table border=1>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <!-- <a routerLink="details">Details</a> -->
                <!-- <a [routerLink]="['details', product.id]">Details</a> -->
                <!-- <a [routerLink]="['details', product.id, product.name]">Details</a> -->
                <!-- <a [routerLink]="['details', {id:product.id, name:product.name}]">Details</a> -->
                <!-- <a [routerLink]="['/details']" [queryParams]="{id:product.id, name:product.name}">Details</a> -->
                <a [routerLink]="['/details', product.id]">Details</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- <router-outlet></router-outlet> -->
