<div class="container">
  <h1>App Component</h1>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="flipkart" aria-current="page">Flipkart<span
                class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="amazon" aria-current="page">Amazon<span
                class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="notification" aria-current="page">Notification<span
                class="visually-hidden">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>